
pace_python/\.DS_Store

\.DS_Store

*.pyc
__pycache__
pace_python/mccExcludedFiles.log

*~
*swp
*swo
*-v[0-9]*
*-v[0-9].*

*.mex*

*.so
*.mod

BRILLEM-build
BRILLEM-download
HORACE-build
HORACE-download
MEUPHONIC-build
MEUPHONIC-download
SPINW-build
SPINW-download

CMakeFiles
cmake_install.cmake
CMakeCache.txt

extern-pybind11
src/CTF

build
dist

installer/Pace_Python_Installer/
installer/mccExcludedFiles.log
installer/pace_python_installer.exe
installer/readme.txt
installer/requiredMCRProducts.txt

euphonic_sqw_models
